*{
    font-size: x-large;
    text-align: center;
    border-collapse: collapse;
}

table {
     border-collapse: collapse;
     border: 2px solid rgb(146, 146, 146);
    
}

th, td{
    border: 1px solid black
}

        

.Semaine{
    background-color: grey;
    font-weight: normal;

}


.footer{
    text-align: center;
    font-style: italic ;
    
}

.color0{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
    color: white;
    background-color: grey;
}

.color1 {
    background-color: cadetblue;
}

.color2 {
    background-color: greenyellow;
}

caption {
    background-color: grey;
    border: black 1px solid;

}